.initial-none--weight{
  display:none;
}
.initial-none--date{
  display:none;
}
.plan-form__tdee{
  position: relative;
  margin-top: 50px;
  width: 200px;
  &--numeric{
    margin-top: 20px;
    text-align:center;
    font-weight:bold;
  }
}
.plan-form__tdei{
  width: 200px;
  position: relative;
  margin-top: 50px;
  &--numeric{
    margin-top: 20px;
    text-align:center;
    font-weight:bold;
  }
}

.caution--start_weight{
    margin-top: 10px;
    color: #E03616;
    display:none;
}
.caution--target_weight{
  margin-top: 10px;
  color: #E03616;
  display:none;
}
.caution--target_date{
  margin-top: 10px;
  color: #E03616;
  display:none;
}

.plan-form__pfc--protein{
  position: relative;
  margin-top: 20px;
  input[type="number"]{
    display: inline-block;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 150px;
    transition: all 0.1s ease-out;
  }
  input[type="number"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 0 3px;
    width:130px;
    padding: 0 20px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  &--description{
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
  }
  &--description:before{
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
  }
}

//---weight---ツールチップ
.plan-form__pfc--protein:hover .plan-form__pfc--protein--description {
  display: inline-block;
  top: 0px;
  left: 210px;
}

.plan-form__pfc--fat{
  position: relative;
  margin-top: 20px;
  input[type="number"]{
    display: inline-block;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 150px;
    transition: all 0.1s ease-out;
  }
  input[type="number"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 0 3px;
    width:130px;
    padding: 0 20px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  &--description{
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
  }
  &--description:before{
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
  }
}

//---weight---ツールチップ
.plan-form__pfc--fat:hover .plan-form__pfc--fat--description {
  display: inline-block;
  top: 0px;
  left: 210px;
}

.plan-form__pfc--carbo{
  position: relative;
  margin-top: 20px;
  input[type="number"]{
    display: inline-block;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 150px;
    transition: all 0.1s ease-out;
  }
  input[type="number"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 0 3px;
    width:130px;
    padding: 0 20px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  &--description{
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
  }
  &--description:before{
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
  }
}

//---weight---ツールチップ
.plan-form__pfc--carbo:hover .plan-form__pfc--carbo--description {
  display: inline-block;
  top: 0px;
  left: 210px;
}