.common-form
  = link_to reset_signup_index_path,class:'common-form__submit' do
    %i.fa.fa-envelope.fa-2x
    新規作成
  = link_to new_user_session_path,class:'common-form__submit' do
    %i.fas.fa-sign-in-alt.fa-2x
    ログイン