%script{:src => "https://www.amcharts.com/lib/4/core.js"}
%script{:src => "https://www.amcharts.com/lib/4/charts.js"}
%script{:src => "https://www.amcharts.com/lib/4/plugins/wordCloud.js"}
%script{:src => "https://www.amcharts.com/lib/4/themes/material.js"}
%script{:src => "https://www.amcharts.com/lib/4/themes/animated.js"}
#chartdiv


.contents
  %ul.contents__list
    = render partial:'homes/content', collection: contents, as:'content'