.foods
  %h2.foods__head たべもの図鑑
  %nav.foods__level1-list
    - @food_groups.each do |food_group|
      = link_to food_group.name, "#food-#{food_group.id}", class: 'foods__level1-list--link'
  .foods-level1-box
    %ul.foods-level1-box__wrapper
      = render partial: 'level1-list', collection: @food_groups, as: 'level1'