.plan
  - if user_signed_in?
    - if current_user.plans.last && current_user.plans.last.target_on > Date.today
      = link_to plan_path(current_user.plans.last) ,class:'plan-new'do
        自分の目標を確認する
    - else
      = link_to new_plan_path ,class:'plan-new'do
        目標を作成する
  = render partial: 'plan', collection: @plans