%h1 Reports#index
%p Find me in app/views/reports/index.html.haml
- @reports.each do |report|
  = image_tag report.images.first

%table
  = render @reports

%script{:src => "https://www.amcharts.com/lib/4/core.js"}
%script{:src => "https://www.amcharts.com/lib/4/charts.js"}
%script{:src => "https://www.amcharts.com/lib/4/themes/kelly.js"}
%script{:src => "https://www.amcharts.com/lib/4/themes/animated.js"}

#chartdiv
