-# %h1 Reports#index
-# %p Find me in app/views/reports/index.html.haml
-# - @reports.each do |report|
-#   = image_tag report.images.first.variant(resize: '100x100')

.report
  %table.report__details
    %tr
      %th.report__txt{"data-label": "レポート"} 開始時の体重
      %td.report__kg{"data-label": "kg"} #{@reports.first.weight}kg
    %tr
      %th.report__txt{"data-label": "レポート"} 現在の体重
      %td.report__kg{"data-label": "kg"} #{@reports.last.weight}kg
    %tr
      %th.report__txt{"data-label": "レポート"} 変化
      %td.report__kg{"data-label": "kg"} #{@reports.last.weight-@reports.first.weight}kg
  %table.report__details
    %tr
      %th.report__txt{"data-label": "レポート"} 1週間後の予測体重
      %td.report__kg{"data-label": "kg"} #{@week_after}kg
%script{src: "https://www.amcharts.com/lib/4/core.js"}
%script{src: "https://www.amcharts.com/lib/4/charts.js"}
%script{src: "https://www.amcharts.com/lib/4/themes/dataviz.js"}
%script{src: "https://www.amcharts.com/lib/4/themes/animated.js"}

#chartdiv
